
.wrapper{
    /* background-color: #000; */
    /* width: auto; */
    height: 735px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.top{
    /* background-color: #ff0000; */
    width:100%;
    height: 645px;
    display: flex;
    flex-direction: row;
    /* justify-content:space-; */
}









